<div style="background: url('https://s3-sa-east-1.amazonaws.com/brainstutor-assets/bg-images/hero_universities+2.png') no-repeat top center; background width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
  padding: 5em;
  color: white;">
    <h1>Token invalido</h1>
    <p>El tokwn que estás utilizando es invalido o ya expiró, pide reenviar el correo de activación de usuario. </p>
  </div>
