<h1>Sample App</h1>

<p>Hi <%= @user.email %>,</p>

<p>
	Welcome to the Sample App! Click on the link below to activate your account:
</p>

<a href="<%=ENV['CLIENT_URL']%>/account-activations?email=<%= @user.activation_token %>&email=<%= @user.email %>">Activa Cuenta</a>