
<h1>Hola <%= @user.email %>,</p>

<p>Bienvenido a Brains-tutors! Presiona click para activar tu cuenta:</p>

<%= link_to "Activar Cuenta", ("http://brains-tutors.surge.sh/account_activations/#{@user.activation_token}/email=#{@user.email}") %>
