<h1>Sample App</h1>

<p>Hi <%= @user.email %>,</p>

<p>
	Welcome to the Sample App! Click on the link below to activate your account:
</p>

<%= link_to "Activar Cuenta", ("http://brains-tutors.surge.sh/account-activations?email=#{@user.activation_token}&email=#{@user.email}") %>
