<h1>BrainsTutor</h1>

<p>Hola <%= @user.email %>,</p>

<p>
	Gracias por completar tu perfil, ahora tenemos un siguiente paso para ti! En el link que verás acontinuación encontrarás una página donde podrás agendar una cita con nosotros para conocerte mejor y poder aprobarte como un BrainsTutor.
</p>
<a target="_blank" href="https://calendly.com/brainstutors/tutors-iterview/02-17-2017">
	agéndate con nosotros!
</a>

