<h1>BrainsTutor</h1>

<p>Hola <%= @student.first_name %>,</p>

<p>
  Tu tutoría para el día @schedule.start_at ha sido aceptada y espera por tu pago. 
</p>
<p>
  Para realizar el pago solo debes entrar a la sección de "Tutorias Agendadas" y filtrar por "esperando confirmación de pago"; acontinuación encontrarás una lista de todas las tutorias que esperan por tu pago con un botón para realizar le pago.
</p>
<p>
  Cualquier inquietud que tengas puedes escribirnos a: info@brainsuniversity.com o llamarnos al 3043907490.
</p>
<a target="_blank" href="https://www.brainstutor.com/estudiantes/ingresar">
  Ingresar como Estudiante
</a>

