<h1>BrainsTutor</h1>

<p>Hola <%= @student.first_name %>,</p>

<p>
  Tu tutoría para el día @schedule.start_at ha sido rechazada lamentablemente, parece que el tutor no tenia disponibilidad para esa fecha.
</p>
<p>
  Puedes ingresar a tu cuenta y re-agendar la tutoría en otra hora o enviarle un mensaje directamente desde su pefil preguntando sus horas disponibles, ten en cuenta siempre el horario de disponibilidad del tutor que aparece en su perfil.
</p>
<p>
  Para re-agendar la tutoría debes ingresar con tu cuenta, ir a la sección de "Tutorias agendadas", luego dar click en la pestaña "Completadas" y filtrar por "Rechazadas", ahí encontraras una lista de todas tus tutorias rechazadas y podras re-agendar la que desees.
</p>
<p>
  Cualquier inquietud que tengas puedes escribirnos a: info@brainsuniversity.com o llamarnos al 3043907490.
</p>
<a target="_blank" href="https://www.brainstutor.com/estudiantes/ingresar">
  Ingresar como Estudiante
</a>

