<h1>BrainsTutor</h1>

<p>Hola <%= @recipient.first_name %>,</p>

<p>
  Tienes un nuevo mensaje de <%= @sender.first_name %>!
</p>
<p>
  <%= @message.body[0..100] %>
</p>
<p>
  Para leer tus mensajes, debes loggearte con tu cuenta e ir a la pestaña de "mensajes", ahí podrás ver todos tus mensajes y los no leidos.
</p>
<p>
  Cualquier inquietud que tengas puedes escribirnos a: info@brainsuniversity.com o llamarnos al 3043907490.
</p>
<a target="_blank" href="https://www.brainstutor.com/ingresar">
  Ingresar BrainsTutor
</a>

